* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
HTML {
	HEIGHT: 100%
}
BODY {
	HEIGHT: 100%
}
BODY {
	LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, Sans-Serif; BACKGROUND: #fff; COLOR: #555; FONT-SIZE: 12px
}
A {
	COLOR: #7dc33a; CURSOR: pointer; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
INPUT {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
TEXTAREA {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
SELECT {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
TEXTAREA {
	OVERFLOW: auto
}
.cl {
	LINE-HEIGHT: 0; TEXT-INDENT: -4000px; DISPLAY: block; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px
}
.notext {
	LINE-HEIGHT: 0; TEXT-INDENT: -4000px; FONT-SIZE: 0px
}
.left {
	DISPLAY: inline; FLOAT: left
}
.alignleft {
	DISPLAY: inline; FLOAT: left
}
.right {
	DISPLAY: inline; FLOAT: right
}
.alignright {
	DISPLAY: inline; FLOAT: right
}
H1 {
	TEXT-TRANSFORM: uppercase; COLOR: #187d1d; FONT-WEIGHT: normal
}
H2 {
	TEXT-TRANSFORM: uppercase; COLOR: #187d1d; FONT-WEIGHT: normal
}
H3 {
	TEXT-TRANSFORM: uppercase; COLOR: #187d1d; FONT-WEIGHT: normal
}
H4 {
	TEXT-TRANSFORM: uppercase; COLOR: #187d1d; FONT-WEIGHT: normal
}
H5 {
	TEXT-TRANSFORM: uppercase; COLOR: #187d1d; FONT-WEIGHT: normal
}
H1 {
	LINE-HEIGHT: 31px; FONT-SIZE: 24px
}
H2 {
	LINE-HEIGHT: 31px; FONT-SIZE: 24px
}
H3 {
	LINE-HEIGHT: 28px; FONT-SIZE: 22px
}
H4 {
	LINE-HEIGHT: 24px; FONT-SIZE: 18px
}
H5 {
	LINE-HEIGHT: 21px; FONT-SIZE: 16px
}
H6 {
	MARGIN-BOTTOM: 5px; COLOR: #1a8f1d; FONT-SIZE: 12px
}
.entry {
	MARGIN-BOTTOM: 30px
}
.entry H2.title {
	PADDING-BOTTOM: 21px; LINE-HEIGHT: 28px; TEXT-TRANSFORM: none; BACKGROUND: url(images/wide-heading-bg.png) no-repeat 0px bottom; COLOR: #0c5d18; FONT-SIZE: 20px; FONT-WEIGHT: bold
}
.entry H5.title {
	TEXT-TRANSFORM: none; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.entry A {
	COLOR: #1a8f1d; TEXT-DECORATION: underline
}
.entry A:hover {
	TEXT-DECORATION: none
}
.entry P {
	MARGIN-BOTTOM: 15px
}
.entry OL {
	LIST-STYLE-POSITION: inside
}
.entry UL {
	LIST-STYLE: none none outside
}
.entry UL LI {
	PADDING-LEFT: 20px; BACKGROUND: url(images/entry-ul-bullet.gif) no-repeat 0px 7px
}
.entry TABLE {
	BORDER-COLLAPSE: collapse; MARGIN-BOTTOM: 20px
}
.entry TH {
	BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #1a8f1d; COLOR: #fff; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 3px
}
.entry TD {
	BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #ececec; COLOR: #505150; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 3px
}
.entry TD.email {
	COLOR: #1a8f1d
}
.entry TD A {
	COLOR: #505150; TEXT-DECORATION: underline
}
.entry TD A:hover {
	COLOR: #1a8f1d; TEXT-DECORATION: none
}
.entry BLOCKQUOTE {
	BORDER-LEFT: #1a8f1d 4px solid; LINE-HEIGHT: 20px; FONT-STYLE: italic; PADDING-LEFT: 15px
}
.general-title {
	
}
.general-title H2 {
	TEXT-TRANSFORM: none
}
.general-title H4 {
	TEXT-TRANSFORM: none
}
.general-title H2 {
	LINE-HEIGHT: 24px
}
.general-title H2 {
	COLOR: #444; FONT-WEIGHT: bold
}
.general-title H4 {
	LINE-HEIGHT: 18px; COLOR: #187d1d
}
.entry A.images {
	BORDER-BOTTOM: #d5d5d5 1px solid; BORDER-LEFT: #d5d5d5 1px solid; DISPLAY: block; MARGIN-BOTTOM: 5px; BORDER-TOP: #d5d5d5 1px solid; BORDER-RIGHT: #d5d5d5 1px solid
}
.entry A.images IMG {
	DISPLAY: block
}
.entry .more {
	DISPLAY: block; COLOR: #00aeef; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.entry .more:hover {
	COLOR: #151515
}
.entry UL LI A {
	COLOR: #555; TEXT-DECORATION: none
}
.entry UL LI A:hover {
	TEXT-DECORATION: underline
}
.full-page H2.title {
	BACKGROUND: url(images/big-wide-heading-bg.png) no-repeat 0px bottom
}
#wrapper {
	MARGIN: 0px auto -250px; MIN-HEIGHT: 100%; HEIGHT: auto !important
}
.shell {
	MARGIN: 0px auto; WIDTH: 980px
}
.last {
	MARGIN-RIGHT: 0px !important
}
.col {
	DISPLAY: inline; FLOAT: left
}
.row {
	MARGIN-BOTTOM: 10px
}
.row LABEL {
	TEXT-ALIGN: left; DISPLAY: inline; FLOAT: left; COLOR: #4a5461; MARGIN-LEFT: 13px; FONT-SIZE: 14px
}
.row LABEL SPAN {
	COLOR: #aaa
}
.row .field {
	BORDER-BOTTOM: #cfcfcf 1px solid; BORDER-LEFT: #cfcfcf 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 269px; PADDING-RIGHT: 5px; DISPLAY: inline; FLOAT: left; HEIGHT: 15px; COLOR: #4a5461; FONT-SIZE: 12px; BORDER-TOP: #cfcfcf 1px solid; BORDER-RIGHT: #cfcfcf 1px solid; PADDING-TOP: 4px; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px
}
.row .field-focus {
	BORDER-BOTTOM-COLOR: #d3f3ba !important; BORDER-TOP-COLOR: #d3f3ba !important; BORDER-RIGHT-COLOR: #d3f3ba !important; BORDER-LEFT-COLOR: #d3f3ba !important
}
.row .message {
	WIDTH: 627px; HEIGHT: 120px; resize: none
}
.row .submit-btn {
	BACKGROUND-IMAGE: url(images/green-arrow-btn.gif); BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 4px; LINE-HEIGHT: 28px; PADDING-LEFT: 10px; WIDTH: 123px; PADDING-RIGHT: 0px; DISPLAY: inline; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; FLOAT: left; HEIGHT: 29px; COLOR: #4a5461; FONT-SIZE: 12px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.row .submit-btn-hover {
	BACKGROUND: url(images/green-arrow-btn.gif) no-repeat 0px bottom; COLOR: #fff
}
.field-error {
	BORDER-BOTTOM: #ff2b2b 2px solid; BORDER-LEFT: #ff2b2b 2px solid; COLOR: #c53333 !important; BORDER-TOP: #ff2b2b 2px solid; BORDER-RIGHT: #ff2b2b 2px solid
}
.label-error {
	COLOR: #c53333 !important
}
.label-error SPAN {
	COLOR: #c53333 !important
}
.msg-alert {
	DISPLAY: none; MARGIN-BOTTOM: 10px; BACKGROUND: #b70000; HEIGHT: 26px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px
}
.msg-thanks {
	DISPLAY: none; MARGIN-BOTTOM: 10px; BACKGROUND: #b70000; HEIGHT: 26px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px
}
.msg-thanks {
	BACKGROUND: #2d9a23
}
.msg-alert P {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; MARGIN: 0px; COLOR: #fff
}
.msg-thanks P {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; MARGIN: 0px; COLOR: #fff
}
#header {
	Z-INDEX: 40; POSITION: relative; BACKGROUND: url(images/header-bg.gif) repeat-x 0px 3px; HEIGHT: 103px
}
#header .shell {
	Z-INDEX: 40; POSITION: relative; BACKGROUND: url(images/header-bg.gif) repeat-x 0px 3px; HEIGHT: 103px
}
#header-home {
	BACKGROUND: url(images/header-home-bg.gif) repeat-x 0px 0px; HEIGHT: 336px
}
#header-home .shell {
	BACKGROUND: url(images/header-home-bg.gif) repeat-x 0px 0px; HEIGHT: 336px
}
H1#logo {
	MARGIN-TOP: 21px; WIDTH: 221px; DISPLAY: inline; FLOAT: left; HEIGHT: 67px
}
H1#logo A {
	DISPLAY: block; BACKGROUND: url(images/logo.png) no-repeat 0px 0px; HEIGHT: 67px
}
#navigation {
	Z-INDEX: 40; POSITION: relative; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 108px
}
.navigation-l {
	WIDTH: 30px; DISPLAY: inline; BACKGROUND: url(images/navigation-left.png) no-repeat 0px 0px; FLOAT: left; HEIGHT: 41px
}
.navigation-r {
	WIDTH: 29px; DISPLAY: inline; BACKGROUND: url(images/navigation-right.png) no-repeat 0px 0px; FLOAT: left; HEIGHT: 41px
}
.navigation-cnt {
	DISPLAY: inline; BACKGROUND: url(images/navigation-cnt.png) repeat-x 0px 0px; FLOAT: left; HEIGHT: 41px
}
.navigation-cnt UL {
	LIST-STYLE: none none outside
}
.navigation-cnt UL LI {
	POSITION: relative; PADDING-RIGHT: 14px; DISPLAY: inline; BACKGROUND: url(images/navigation-separator.gif) no-repeat right 0px; FLOAT: left; HEIGHT: 36px; MARGIN-RIGHT: 14px
}
.navigation-cnt UL LI.last {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.navigation-cnt UL LI A {
	LINE-HEIGHT: 36px; DISPLAY: inline; FLOAT: left; HEIGHT: 36px; COLOR: #2b9208; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.navigation-cnt UL LI A:hover {
	BACKGROUND: url(images/navigation-hover-pointer.gif) no-repeat center bottom; COLOR: #434343; TEXT-DECORATION: none
}
.navigation-cnt UL LI A.hover {
	BACKGROUND: url(images/navigation-hover-pointer.gif) no-repeat center bottom; COLOR: #434343; TEXT-DECORATION: none
}
.navigation-cnt UL LI .dd-holder {
	Z-INDEX: 20; POSITION: absolute; WIDTH: 202px; DISPLAY: none; TOP: 36px; LEFT: -21px
}
.navigation-cnt UL LI .dd-holder .dd-t {
	WIDTH: 202px; BACKGROUND: url(images/dd-t.png) no-repeat 0px 0px; HEIGHT: 15px
}
.navigation-cnt UL LI .dd-holder .dd-cnt {
	Z-INDEX: 2; POSITION: relative; WIDTH: 202px; BACKGROUND: url(images/dd-bg.png) repeat-y 0px 0px
}
.navigation-cnt UL LI .dd-holder .dd-b {
	POSITION: relative; WIDTH: 202px; BACKGROUND: url(images/dd-b.png) no-repeat 0px 0px; HEIGHT: 15px
}
.navigation-cnt UL LI .dd-holder .dd-inner {
	POSITION: relative; MARGIN: -15px 0px -10px; WIDTH: 202px; DISPLAY: inline; FLOAT: left
}
.navigation-cnt UL LI .dd-holder .dd-cnt UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.navigation-cnt UL LI .dd-holder .dd-cnt UL LI {
	BORDER-BOTTOM: #e3e3e3 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 190px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(images/dd-li-bg.gif) repeat-x 0px 0px; FLOAT: none; HEIGHT: 36px; FONT-SIZE: 0px; PADDING-TOP: 0px
}
.navigation-cnt UL LI .dd-holder .dd-cnt UL LI A {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; HEIGHT: 100%; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.navigation-cnt UL LI .dd-holder .dd-cnt UL LI A .arrow {
	MARGIN: 12px 10px 0px 0px; WIDTH: 10px; DISPLAY: inline; BACKGROUND: url(images/dd-arrow.png) no-repeat 0px 0px; FLOAT: right; HEIGHT: 13px
}
.navigation-cnt UL LI .dd-holder .dd-cnt UL LI A:hover {
	BACKGROUND: url(images/dd-hover.gif) repeat-x 0px 0px; COLOR: #fff
}
.navigation-cnt UL LI .dd-holder .dd-cnt UL LI A.hover {
	BACKGROUND: url(images/dd-hover.gif) repeat-x 0px 0px; COLOR: #fff
}
.navigation-cnt UL LI .dd-holder .dd-cnt UL LI A:hover .arrow {
	BACKGROUND: url(images/dd-arrow-hover.png) no-repeat 0px 0px
}
.navigation-cnt UL LI .dd-holder .dd-cnt UL LI A.hover .arrow {
	BACKGROUND: url(images/dd-arrow-hover.png) no-repeat 0px 0px
}
.navigation-cnt UL LI .dd-holder .dd-cnt UL LI.first {
	BACKGROUND: url(images/dd-li-first.png) no-repeat 0px 0px
}
.navigation-cnt UL LI .dd-holder .dd-cnt UL LI.last {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: url(images/dd-li-last.png) no-repeat 0px 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.navigation-cnt UL LI .dd-holder .dd-cnt UL LI.first A:hover {
	BACKGROUND: url(images/dd-li-first-hover.png) no-repeat 0px 0px
}
.navigation-cnt UL LI .dd-holder .dd-cnt UL LI.first A.hover {
	BACKGROUND: url(images/dd-li-first-hover.png) no-repeat 0px 0px
}
.navigation-cnt UL LI .dd-holder .dd-cnt UL LI.last A:hover {
	BACKGROUND: url(images/dd-li-last-hover.png) no-repeat 0px 0px
}
.navigation-cnt UL LI .dd-holder .dd-cnt UL LI.last A.hover {
	BACKGROUND: url(images/dd-li-last-hover.png) no-repeat 0px 0px
}
.navigation-cnt UL LI .dd-holder .dd-holder {
	TOP: 0px; LEFT: 184px
}
.navigation-cnt UL LI .dd-holder .dd-holder .dd-cnt UL LI A.hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.navigation-cnt UL LI .dd-holder .dd-holder .dd-cnt UL LI A:hover {
	BACKGROUND: url(images/dd-hover.gif) repeat-x 0px 0px; COLOR: #fff
}
.navigation-cnt UL LI .dd-holder .dd-holder .dd-cnt UL LI.first A:hover {
	BACKGROUND: url(images/dd-li-first-hover.png) no-repeat 0px 0px
}
.navigation-cnt UL LI .dd-holder .dd-holder .dd-cnt UL LI.last A:hover {
	BACKGROUND: url(images/dd-li-last-hover.png) no-repeat 0px 0px
}
#navigation {
	MARGIN-TOP: 3px
}
.socials {
	MARGIN: 12px 0px 0px; DISPLAY: inline; FLOAT: left
}
.socials A {
	LINE-HEIGHT: 0; TEXT-INDENT: -4000px; DISPLAY: inline; FLOAT: left; FONT-SIZE: 0px; MARGIN-RIGHT: 6px
}
.socials .twitter {
	WIDTH: 20px; BACKGROUND: url(images/ico-twitter.png) no-repeat 0px 0px; HEIGHT: 24px
}
.socials .twitter:hover {
	BACKGROUND: url(images/ico-twitter-hover.png) no-repeat 0px 0px
}
.socials .facebook {
	WIDTH: 14px; BACKGROUND: url(images/ico-facebook.png) no-repeat 0px 0px; HEIGHT: 24px
}
.socials .facebook:hover {
	BACKGROUND: url(images/ico-facebook-hover.png) no-repeat 0px 0px
}
.socials .rss-feed {
	WIDTH: 23px; BACKGROUND: url(images/ico-rss.png) no-repeat 0px 0px; HEIGHT: 24px; MARGIN-RIGHT: 0px
}
.socials .rss-feed:hover {
	BACKGROUND: url(images/ico-rss-hover.png) no-repeat 0px 0px
}
.breadcrumbs {
	BACKGROUND: url(images/breadcrumbs-bg.gif) repeat-x 0px 0px; HEIGHT: 61px
}
.breadcrumbs .shell {
	BACKGROUND: url(images/breadcrumbs-bg.gif) repeat-x 0px 0px; HEIGHT: 61px
}
.breadcrumbs .shell {
	HEIGHT: 44px; PADDING-TOP: 17px
}
.breadcrumbs H2 {
	TEXT-TRANSFORM: none; COLOR: #fff; FONT-SIZE: 24px; FONT-WEIGHT: bold
}
.breadcrumbs P {
	DISPLAY: inline; FLOAT: right; COLOR: #84d73e; FONT-SIZE: 18px
}
#main {
	BACKGROUND: url(images/main-bg.gif) repeat-x 0px 0px
}
#main .shell {
	BACKGROUND: url(images/main-bg.gif) repeat-x 0px 0px
}
#main .shell {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 32px
}
.home2#main .shell {
	PADDING-TOP: 145px
}
#content {
	WIDTH: 640px
}
#sidebar {
	WIDTH: 300px
}
#sidebar .entry {
	MARGIN-BOTTOM: 30px
}
#sidebar .entry H2.title {
	BACKGROUND: url(images/3cols-heading-bg.png) no-repeat 0px bottom
}
.sidebar-widget {
	
}
.sidebar-widget P {
	MARGIN-BOTTOM: 5px
}
.sidebar-widget UL {
	PADDING-LEFT: 10px
}
.entry .request-btn {
	TEXT-ALIGN: center; LINE-HEIGHT: 48px; MARGIN-TOP: 20px; WIDTH: 300px; DISPLAY: block; BACKGROUND: url(images/request-btn.gif) no-repeat 0px 0px; HEIGHT: 49px; COLOR: #4a5461; FONT-SIZE: 19px; FONT-WEIGHT: bold; TEXT-DECORATION: none; text-shadow: #e0e2e4 1px 1px 1px
}
.entry .request-btn:hover {
	BACKGROUND-POSITION: 0px bottom; COLOR: #fff; text-shadow: #196000 1px 1px 1px
}
.css_mayo {
	WIDTH: 164px; BACKGROUND: url(images/ico-css-mayo.gif) no-repeat 0px 0px; HEIGHT: 36px; MARGIN-RIGHT: 22px
}
.net_mag {
	WIDTH: 75px; BACKGROUND: url(images/ico-net-magazine.gif) no-repeat 0px 0px; HEIGHT: 43px
}
.bbc {
	MARGIN: 22px 0px 0px 38px; WIDTH: 95px; BACKGROUND: url(images/ico-bbc.gif) no-repeat 0px 0px; HEIGHT: 28px
}
.digg {
	MARGIN: 17px 0px 0px 37px; WIDTH: 62px; BACKGROUND: url(images/ico-digg.gif) no-repeat 0px 0px; HEIGHT: 37px
}
.ads {
	MARGIN-TOP: 5px; DISPLAY: block
}
.google-map {
	WIDTH: 640px; MARGIN-BOTTOM: 10px; HEIGHT: 301px
}
.entry .contact-info {
	
}
.entry .contact-info LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px
}
.entry .contact-info LI A {
	TEXT-DECORATION: none
}
.entry .contact-info LI A SPAN {
	COLOR: #187d1d
}
.box {
	BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: 0px 0px
}
.box .box-b {
	BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px bottom
}
.box .box-t {
	BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px top
}
UL.customBullet {
	LIST-STYLE: none none outside
}
UL.customBullet LI {
	PADDING-LEFT: 30px; BACKGROUND: url(images/custom-bullet.png) no-repeat 0px 3px
}
UL.customBullet LI A {
	COLOR: #5ab13e; TEXT-DECORATION: underline
}
UL.customBullet LI A:hover {
	TEXT-DECORATION: none
}
.service-col {
	WIDTH: 310px; DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 20px
}
.service-col .box {
	BACKGROUND-IMAGE: url(images/service-box-bg.gif); WIDTH: 310px
}
.service-col .box-b {
	BACKGROUND-IMAGE: url(images/service-box-b.gif)
}
.service-col .box-t {
	PADDING-BOTTOM: 10px
}
.service-col .blue-box .box-t {
	BACKGROUND-IMAGE: url(images/blue-service-box-t.gif)
}
.service-col .gold-box .box-t {
	BACKGROUND-IMAGE: url(images/gold-service-box-t.gif)
}
.service-col .box H3 {
	TEXT-ALIGN: center; TEXT-TRANSFORM: none; FONT-SIZE: 24px; FONT-WEIGHT: bold; PADDING-TOP: 13px
}
.service-col .box .price {
	TEXT-ALIGN: center; COLOR: #fff; FONT-SIZE: 16px; PADDING-TOP: 19px
}
.service-col .box UL.customBullet {
	PADDING-TOP: 11px
}
.service-col .box UL.customBullet LI {
	BORDER-BOTTOM: #e0e0e0 1px solid; PADDING-BOTTOM: 9px; LINE-HEIGHT: 18px; PADDING-LEFT: 53px; PADDING-RIGHT: 10px; BACKGROUND-POSITION: 12px 12px; COLOR: #0c5d18; FONT-SIZE: 15px; PADDING-TOP: 11px
}
.service-col .blue-box H3 {
	COLOR: #405364
}
.service-col .gold-box H3 {
	COLOR: #8a5400
}
.service-col .purchase {
	TEXT-ALIGN: center; LINE-HEIGHT: 41px; MARGIN: 14px auto 0px; WIDTH: 222px; DISPLAY: block; BACKGROUND: url(images/purchase-template.gif) no-repeat 0px 0px; HEIGHT: 41px; COLOR: #4a5461; FONT-SIZE: 16px; FONT-WEIGHT: bold; TEXT-DECORATION: none; text-shadow: #fff 0 1px 1px
}
.service-col .purchase:hover {
	BACKGROUND-POSITION: 0px bottom; COLOR: #fff; TEXT-DECORATION: none; text-shadow: #4a5461 0 1px 1px
}
.service-col .info {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.service-col .info H4 {
	TEXT-TRANSFORM: none; MARGIN-BOTTOM: 10px; COLOR: #222; FONT-SIZE: 20px
}
.service-col .info P {
	MARGIN-BOTTOM: 10px
}
.four-arrows {
	Z-INDEX: 10; POSITION: absolute; WIDTH: 50px; DISPLAY: block; BACKGROUND: url(images/four-arrows.png) no-repeat 0px 0px; HEIGHT: 50px; TOP: 0px; LEFT: 9px
}
.arrows-holder {
	Z-INDEX: 15; POSITION: absolute; WIDTH: 56px; HEIGHT: 30px
}
.arrow-left {
	WIDTH: 28px; DISPLAY: inline; FLOAT: left; HEIGHT: 30px
}
.arrow-right {
	WIDTH: 28px; DISPLAY: inline; FLOAT: left; HEIGHT: 30px
}
.arrow-left {
	BACKGROUND: url(images/arrow-left.png) no-repeat 0px 0px
}
.arrow-right {
	BACKGROUND: url(images/arrow-right.png) no-repeat 0px 0px
}
.cross-btn {
	LINE-HEIGHT: 29px; PADDING-LEFT: 30px; DISPLAY: inline; BACKGROUND: url(images/cross-button.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 30px; COLOR: #4a5461; FONT-WEIGHT: bold
}
.cross-btn SPAN {
	LINE-HEIGHT: 29px; PADDING-LEFT: 30px; DISPLAY: inline; BACKGROUND: url(images/cross-button.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 30px; COLOR: #4a5461; FONT-WEIGHT: bold
}
.cross-btn SPAN {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; BACKGROUND-POSITION: right 0px; PADDING-TOP: 0px
}
.cross-btn:hover {
	BACKGROUND-POSITION: 0px bottom; COLOR: #fff; TEXT-DECORATION: none
}
.cross-btn:hover SPAN {
	BACKGROUND-POSITION: 0px bottom; COLOR: #fff; TEXT-DECORATION: none
}
.cross-btn:hover SPAN {
	BACKGROUND-POSITION: right bottom
}
.project {
	POSITION: relative; PADDING-BOTTOM: 30px
}
.project H3 {
	TEXT-TRANSFORM: none; COLOR: #0c5d18; FONT-WEIGHT: bold
}
.project H3 SPAN {
	COLOR: #444; FONT-WEIGHT: normal
}
.project .main-image-holder {
	POSITION: relative; MARGIN: 15px -17px 20px -10px; WIDTH: 997px; BACKGROUND: url(images/project-detailed-image-holder.gif) no-repeat 0px 0px; HEIGHT: 414px
}
.project .main-image-holder .screenshots {
	POSITION: relative; MARGIN: 11px 0px 0px 20px; WIDTH: 958px; DISPLAY: inline; FLOAT: left; HEIGHT: 385px; OVERFLOW: hidden
}
.project .main-image-holder .screenshots .inner-slider {
	
}
.project .main-image-holder .screenshots .inner-slider UL {
	LIST-STYLE: none none outside
}
.project .main-image-holder .screenshots .inner-slider UL LI {
	DISPLAY: inline; FLOAT: left
}
.project .arrows-holder {
	BOTTOM: 11px; LEFT: 471px
}
.project .description {
	WIDTH: 570px; DISPLAY: inline; FLOAT: left
}
.project .description .cross-btn {
	MARGIN-TOP: 20px
}
.project .thumb-holder {
	WIDTH: 389px; DISPLAY: inline; BACKGROUND: url(images/project-page-thumbs-holder.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 149px; MARGIN-LEFT: 20px
}
.project .thumb-holder IMG {
	MARGIN: 12px 0px 0px 10px; DISPLAY: block
}
.slider-btn {
	TEXT-ALIGN: center; LINE-HEIGHT: 39px; WIDTH: 195px; DISPLAY: block; BACKGROUND: url(images/slider-btn.png) no-repeat 0px 0px; HEIGHT: 39px; COLOR: #4a5461; FONT-SIZE: 17px; FONT-WEIGHT: bold; text-shadow: 1px 1px 1px #ccc
}
.slider-btn:hover {
	BACKGROUND: url(images/slider-btn-hover.png) no-repeat 0px 0px; COLOR: #fff; TEXT-DECORATION: none; text-shadow: 1px 1px 1px #4a5461
}
.slider1 {
	Z-INDEX: 5; POSITION: relative
}
.slider1 .shell {
	POSITION: relative
}
.slider1 .slider-wrapper {
	POSITION: absolute; TOP: -233px; LEFT: 0px
}
.slider1 .slider-holder {
	POSITION: relative; WIDTH: 520px; DISPLAY: inline; BACKGROUND: url(images/home1-slider.png) no-repeat 0px 0px; FLOAT: left; HEIGHT: 276px; MARGIN-LEFT: 14px
}
.slider1 .slider-holder .content {
	POSITION: relative; MARGIN: 14px 0px 0px 26px; WIDTH: 469px; HEIGHT: 242px; OVERFLOW: hidden
}
.slider1 .slider-holder .content UL {
	LIST-STYLE: none none outside; POSITION: relative; OVERFLOW: hidden
}
.slider1 .slider-holder .content UL LI {
	POSITION: relative; WIDTH: 469px; HEIGHT: 242px; OVERFLOW: hidden
}
.slider1 .slider-holder .content .jcarousel-clip {
	POSITION: relative; WIDTH: 469px; HEIGHT: 242px; OVERFLOW: hidden
}
.slider1 .slider-holder .carousel-prev {
	POSITION: absolute; LINE-HEIGHT: 0; TEXT-INDENT: -4000px; WIDTH: 52px; DISPLAY: block; HEIGHT: 53px; FONT-SIZE: 0px; TOP: 114px
}
.slider1 .slider-holder .carousel-next {
	POSITION: absolute; LINE-HEIGHT: 0; TEXT-INDENT: -4000px; WIDTH: 52px; DISPLAY: block; HEIGHT: 53px; FONT-SIZE: 0px; TOP: 114px
}
.slider1 .slider-holder .carousel-prev {
	BACKGROUND: url(images/carousel1-prev.png) no-repeat 0px 0px; LEFT: -13px
}
.slider1 .slider-holder .carousel-next {
	BACKGROUND: url(images/carousel1-next.png) no-repeat 0px 0px; RIGHT: -13px
}
.slider1 .slider-sidebar {
	MARGIN: 7px 0px 0px 75px; WIDTH: 350px; DISPLAY: inline; FLOAT: left
}
.slider1 .slider-sidebar H2 {
	TEXT-TRANSFORM: none; MARGIN-BOTTOM: 16px; COLOR: #fff; FONT-SIZE: 35px; FONT-WEIGHT: bold; text-shadow: 1px 1px 1px #459126
}
.slider1 .slider-sidebar P {
	LINE-HEIGHT: 20px; COLOR: #fff; FONT-SIZE: 14px
}
.slider1 .slider-sidebar .slider-btn {
	MARGIN-TOP: 38px
}
.slider1 .slider-nav {
	POSITION: absolute; BOTTOM: -21px; LEFT: 208px
}
.slider1 .slider-nav UL {
	LIST-STYLE: none none outside
}
.slider1 .slider-nav UL LI {
	WIDTH: 15px; DISPLAY: inline; FLOAT: left; HEIGHT: 15px; MARGIN-RIGHT: 6px
}
.slider1 .slider-nav UL LI A {
	LINE-HEIGHT: 0; TEXT-INDENT: -4000px; WIDTH: 15px; DISPLAY: inline; BACKGROUND: url(images/slider1-pagination.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 15px; FONT-SIZE: 0px
}
.slider1 .slider-nav UL LI A:hover {
	BACKGROUND-POSITION: right 0px
}
.slider1 .slider-nav UL LI A.active {
	BACKGROUND-POSITION: right 0px
}
.gray-btn {
	LINE-HEIGHT: 29px; PADDING-LEFT: 10px; DISPLAY: inline; BACKGROUND: url(images/gray-btn.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 29px; COLOR: #4a5461; FONT-WEIGHT: bold; TEXT-DECORATION: none !important
}
.gray-btn SPAN {
	LINE-HEIGHT: 29px; PADDING-LEFT: 10px; DISPLAY: inline; BACKGROUND: url(images/gray-btn.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 29px; COLOR: #4a5461; FONT-WEIGHT: bold; TEXT-DECORATION: none !important
}
.gray-btn SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; BACKGROUND-POSITION: right 0px; PADDING-TOP: 0px
}
.gray-btn:hover {
	BACKGROUND-POSITION: 0px bottom; COLOR: #fff; TEXT-DECORATION: none
}
.gray-btn:hover SPAN {
	BACKGROUND-POSITION: 0px bottom; COLOR: #fff; TEXT-DECORATION: none
}
.gray-btn:hover SPAN {
	BACKGROUND-POSITION: right bottom
}
.col-3 {
	WIDTH: 300px; MARGIN-RIGHT: 40px
}
.col-3 .entry H2.title {
	BACKGROUND: url(images/3cols-heading-bg.png) no-repeat 0px bottom
}
.col-2-wide {
	MARGIN-TOP: 40px; WIDTH: 545px
}
.col-2-wide .entry H2.title {
	BACKGROUND: url(images/2cols-wide-heading.png) no-repeat 0px bottom
}
.col-2-wide IMG.right {
	MARGIN-LEFT: 10px
}
.col-2-narrow {
	MARGIN: 40px 0px 0px 50px; WIDTH: 380px
}
.col-2-narrow .entry H2.title {
	BACKGROUND: url(images/2cols-narrow-heading.png) no-repeat 0px bottom
}
.col-2-narrow .entry P {
	MARGIN-BOTTOM: 5px
}
.col-2-narrow .entry UL {
	PADDING-LEFT: 20px
}
.box {
	BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: 0px 0px
}
.box .box-b {
	BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px bottom
}
.box .box-t {
	BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px top
}
.home-box {
	BACKGROUND-IMAGE: url(images/home-box-bg.gif); WIDTH: 314px; DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 19px
}
.home-box .box-b {
	BACKGROUND-IMAGE: url(images/home-box-b.gif)
}
.home-box .box-t {
	BACKGROUND-IMAGE: url(images/home-box-t.gif); PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 10px
}
.home-box H4 {
	TEXT-TRANSFORM: none; COLOR: #0c5d18; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.home-box A {
	DISPLAY: block; COLOR: #1a8f1d; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.home-box IMG.right {
	MARGIN-TOP: 50px
}
.slider2 {
	
}
.slider2 .shell {
	POSITION: relative
}
.slider2 .slider-holder {
	POSITION: absolute; WIDTH: 994px; BACKGROUND: url(images/slider2-holder.png) no-repeat 0px 0px; HEIGHT: 394px; TOP: -235px; LEFT: -10px
}
.slider2 .slider-holder .content {
	POSITION: relative; MARGIN: 10px 0px 0px 17px; WIDTH: 960px; HEIGHT: 367px; OVERFLOW: hidden
}
.slider2 .slider-holder .content UL {
	LIST-STYLE: none none outside; POSITION: relative; OVERFLOW: hidden
}
.slider2 .slider-holder .content UL LI {
	POSITION: relative; WIDTH: 960px; HEIGHT: 367px
}
.slider2 .slider-holder .content .jcarousel-clip {
	POSITION: relative; WIDTH: 960px; HEIGHT: 367px; OVERFLOW: hidden
}
.slider2 .slider-holder .content .jcarousel-container {
	POSITION: relative; WIDTH: 960px; HEIGHT: 367px; OVERFLOW: hidden
}
.slider2 .slider-holder .content UL LI .image-holder {
	WIDTH: 450px; DISPLAY: inline; FLOAT: left
}
.slider2 .slider-holder .content UL LI .image-holder IMG {
	MARGIN: 30px 0px 0px 25px; DISPLAY: block
}
.slider2 .slider-holder .content UL LI .text-holder {
	MARGIN: 55px 0px 0px 35px; WIDTH: 350px; DISPLAY: inline; FLOAT: left
}
.slider2 .slider-holder .content UL LI .text-holder H2 {
	TEXT-TRANSFORM: none; MARGIN-BOTTOM: 16px; COLOR: #fff; FONT-SIZE: 35px; FONT-WEIGHT: bold; text-shadow: 1px 1px 1px #459126
}
.slider2 .slider-holder .content UL LI .text-holder P {
	LINE-HEIGHT: 20px; MARGIN-BOTTOM: 15px; COLOR: #fff; FONT-SIZE: 14px
}
.slider2 .slider-holder .content UL LI .text-holder UL LI {
	PADDING-LEFT: 20px; WIDTH: auto; MARGIN-BOTTOM: 3px; BACKGROUND: url(images/slider-custom-bullet.png) no-repeat 0px 5px; HEIGHT: auto; COLOR: #fff; FONT-SIZE: 14px
}
.slider2 .slider-holder .content UL LI .text-holder .slider-btn {
	MARGIN: 25px 0px 0px 15px
}
.slider2 .slider-holder .slider-bar {
	Z-INDEX: 10; POSITION: absolute; WIDTH: 957px; BOTTOM: 18px; BACKGROUND: url(images/slider2-bar-bg.png) 0px 0px; HEIGHT: 50px; LEFT: 19px
}
.slider2 .slider-holder .slider-bar .content {
	MARGIN: 0px 0px 0px 20px; WIDTH: 780px; HEIGHT: 50px
}
.slider2 .slider-holder .slider-bar .content .jcarousel-clip {
	WIDTH: 780px; HEIGHT: 50px
}
.slider2 .slider-holder .slider-bar .content .jcarousel-container {
	WIDTH: 780px; HEIGHT: 50px
}
.slider2 .slider-holder .slider-bar .content UL {
	LIST-STYLE: none none outside; POSITION: relative
}
.slider2 .slider-holder .slider-bar .content UL LI {
	POSITION: relative; LINE-HEIGHT: 50px; WIDTH: 780px; HEIGHT: 50px; COLOR: #fff; FONT-SIZE: 15px
}
.slider2 .slider-holder .slider-bar .content UL LI A {
	COLOR: #fdbb38; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.slider2 .slider-holder .slider-bar .content UL LI A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.slider2 .slider-holder .slider-bar .carousel-down {
	POSITION: absolute; LINE-HEIGHT: 0; TEXT-INDENT: -4000px; WIDTH: 41px; DISPLAY: block; HEIGHT: 44px; FONT-SIZE: 0px; TOP: 2px
}
.slider2 .slider-holder .slider-bar .carousel-up {
	POSITION: absolute; LINE-HEIGHT: 0; TEXT-INDENT: -4000px; WIDTH: 41px; DISPLAY: block; HEIGHT: 44px; FONT-SIZE: 0px; TOP: 2px
}
.slider2 .slider-holder .slider-bar .carousel-down {
	BACKGROUND: url(images/carousel-down.png) no-repeat 0px 0px; RIGHT: 63px
}
.slider2 .slider-holder .slider-bar .carousel-up {
	BACKGROUND: url(images/carousel-up.png) no-repeat 0px 0px; RIGHT: 18px
}
.blog-entry {
	
}
.blog-entry .entry_details {
	MARGIN-BOTTOM: 5px
}
.blog-entry .entry_details SPAN {
	DISPLAY: inline; FLOAT: left; HEIGHT: 20px; COLOR: #0b8819; MARGIN-RIGHT: 20px
}
.blog-entry .entry_details .date {
	PADDING-LEFT: 18px; BACKGROUND: url(images/ico-calendar.gif) no-repeat 0px 4px
}
.blog-entry .entry_details .author {
	PADDING-LEFT: 18px; BACKGROUND: url(images/ico-user.gif) no-repeat 0px 4px
}
.blog-entry .entry_details .comments {
	PADDING-LEFT: 18px; DISPLAY: inline; BACKGROUND: url(images/ico-comments.gif) no-repeat 0px 5px; FLOAT: left; TEXT-DECORATION: none
}
.blog-entry .entry_details .comments:hover {
	TEXT-DECORATION: underline
}
.blog-entry .main-image {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; WIDTH: 632px; PADDING-RIGHT: 3px; MARGIN-BOTTOM: 10px; HEIGHT: 220px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px
}
.blog-entry .main-image IMG {
	DISPLAY: block
}
.blog-entry .read-more {
	LINE-HEIGHT: 27px; PADDING-LEFT: 28px; WIDTH: 195px; DISPLAY: block; BACKGROUND: url(images/green-arrow-btn.gif) no-repeat 0px 0px; HEIGHT: 29px; COLOR: #4a5461; FONT-WEIGHT: bold; TEXT-DECORATION: none !important
}
.blog-entry .read-more:hover {
	BACKGROUND-POSITION: 0px bottom; COLOR: #fff
}
.blog-entry H3 {
	TEXT-TRANSFORM: none; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.blog-entry .video-player {
	WIDTH: 640px; HEIGHT: 394px
}
.pagination {
	
}
.pagination UL {
	LIST-STYLE: none none outside
}
.pagination UL LI {
	WIDTH: 37px; DISPLAY: inline; FLOAT: left; HEIGHT: 29px
}
.pagination UL LI A {
	TEXT-ALIGN: center; LINE-HEIGHT: 27px; WIDTH: 37px; DISPLAY: inline; BACKGROUND: url(images/blog-pagination.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 29px; COLOR: #4a5461; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.pagination UL LI A:hover {
	BACKGROUND-POSITION: right 0px; COLOR: #fff; TEXT-DECORATION: none
}
.pagination UL LI A.active {
	BACKGROUND-POSITION: right 0px; COLOR: #fff; TEXT-DECORATION: none
}
.popular-post-item {
	BORDER-BOTTOM: #ccc 1px dotted; PADDING-BOTTOM: 15px; MARGIN-BOTTOM: 15px
}
.popular-post-item-last {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.popular-post-item A.thumb {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 58px; PADDING-RIGHT: 2px; DISPLAY: inline; FLOAT: left; HEIGHT: 58px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.popular-post-item .text-holder {
	MARGIN: 0px 0px 0px 16px; WIDTH: 205px; DISPLAY: inline; FLOAT: left
}
.popular-post-item .text-holder A {
	LINE-HEIGHT: 20px; COLOR: #5f5f5f; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.popular-post-item .text-holder A:hover {
	TEXT-DECORATION: underline
}
.popular-post-item .text-holder SPAN {
	LINE-HEIGHT: 14px; TEXT-TRANSFORM: uppercase; DISPLAY: block; COLOR: #aaa; FONT-SIZE: 10px
}
.entry .archive-list {
	
}
.entry .archive-list LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px
}
.entry .archive-list LI A SPAN {
	COLOR: #0b8819; FONT-WEIGHT: bold
}
.blog-comments {
	
}
.blog-comments .comment-item {
	MARGIN-BOTTOM: 15px
}
.blog-comments .comment-item .author {
	TEXT-ALIGN: center; WIDTH: 84px; DISPLAY: inline; FLOAT: left
}
.blog-comments .comment-item .author .avatar {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; MARGIN: 0px auto; PADDING-LEFT: 2px; WIDTH: 72px; PADDING-RIGHT: 2px; DISPLAY: block; HEIGHT: 72px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.blog-comments .comment-item .author .username {
	LINE-HEIGHT: 16px; DISPLAY: block; COLOR: #0b8819; FONT-WEIGHT: bold
}
.blog-comments .comment-item .author .date {
	LINE-HEIGHT: 16px; DISPLAY: block; COLOR: #aaa; FONT-SIZE: 11px
}
.blog-comments .comment-item .comment-box {
	BACKGROUND-IMAGE: url(images/comment-box-bg.gif); WIDTH: 543px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px
}
.blog-comments .comment-item .comment-box .box-b {
	BACKGROUND-IMAGE: url(images/comment-box-b.gif)
}
.blog-comments .comment-item .comment-box .box-t {
	BACKGROUND-IMAGE: url(images/comment-box-t.gif); PADDING-BOTTOM: 10px; PADDING-LEFT: 28px; PADDING-RIGHT: 0px; HEIGHT: 100%; PADDING-TOP: 10px
}
.blog-comments .comment-item .comment-box .text-holder {
	WIDTH: 425px; DISPLAY: inline; FLOAT: left
}
.blog-comments .comment-item .comment-box .text-holder H4 {
	TEXT-TRANSFORM: none; COLOR: #5f5f5f; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.blog-comments .comment-item .comment-box .text-holder P {
	MARGIN-BOTTOM: 0px
}
.blog-comments .comment-item .comment-box .buttons {
	MARGIN: 10px 0px 0px 10px; WIDTH: 70px; DISPLAY: inline; FLOAT: left
}
.blog-comments .comment-item .comment-box .buttons A {
	TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 70px; DISPLAY: block; MARGIN-BOTTOM: 2px; HEIGHT: 22px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.blog-comments .comment-item .comment-box .buttons A.quote {
	BACKGROUND: #ccc; COLOR: #444
}
.blog-comments .comment-item .comment-box .buttons A.reply {
	BACKGROUND: url(images/reply-btn.gif) repeat-x 0px 0px; COLOR: #fff
}
.blog-comments .comment-item .comment-box .buttons A:hover {
	BACKGROUND: #fff; TEXT-DECORATION: none
}
.blog-comments .comment-item .comment-box .buttons A.reply:hover {
	COLOR: #444
}
.blog-comments .comment-item .reply-holder {
	MARGIN-TOP: 15px
}
.blog-comments .comment-item .reply-holder .reply-arrow {
	MARGIN: 18px 10px 0px 0px; WIDTH: 22px; DISPLAY: inline; BACKGROUND: url(images/reply-arrow.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 22px
}
.blog-comments .comment-item .reply-holder .reply-box {
	BACKGROUND-IMAGE: url(images/reply-box-bg.gif); WIDTH: 513px; MARGIN-LEFT: 9px
}
.blog-comments .comment-item .reply-holder .reply-box .box-b {
	BACKGROUND-IMAGE: url(images/reply-box-b.gif)
}
.blog-comments .comment-item .reply-holder .reply-box .box-t {
	BACKGROUND-IMAGE: url(images/reply-box-t.gif)
}
.blog-comments .comment-item .reply-holder .reply-box .text-holder {
	WIDTH: 395px
}
.comment-form {
	
}
.comment-form .row .submit-btn {
	BACKGROUND-IMAGE: url(images/post-comment-btn.gif); WIDTH: 144px; HEIGHT: 29px
}
UL.gallery-classic {
	LIST-STYLE: none none outside; POSITION: relative; WIDTH: 1000px; MARGIN-RIGHT: -20px
}
UL.gallery-classic LI {
	POSITION: relative; MARGIN: 0px 5px 20px 0px; WIDTH: 195px; DISPLAY: inline; BACKGROUND: url(images/gallery-classic-page-thumb-holder.png) no-repeat 0px 0px; FLOAT: left; HEIGHT: 154px
}
UL.gallery-classic LI IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; MARGIN: 10px 0px 0px 18px; DISPLAY: block; BORDER-TOP: #ccc 1px solid; CURSOR: pointer; BORDER-RIGHT: #ccc 1px solid
}
UL.gallery-classic LI .magnifier {
	Z-INDEX: 2; POSITION: absolute; WIDTH: 160px; DISPLAY: none; BACKGROUND: url(images/gallery-hover-effect.png) no-repeat 0px 0px; HEIGHT: 127px; TOP: 10px; LEFT: 18px
}
.about-image {
	DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 10px
}
.team {
	
}
.team .entry H2.title .gray-btn {
	DISPLAY: inline; FLOAT: right; FONT-SIZE: 12px; MARGIN-RIGHT: 10px
}
.team .entry .team-list {
	
}
.team .entry .team-list LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 110px; PADDING-RIGHT: 0px; DISPLAY: inline; MARGIN-BOTTOM: 25px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; MARGIN-RIGHT: 65px; PADDING-TOP: 0px
}
.team .entry .team-list LI IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; MARGIN: 0px auto 10px; DISPLAY: block; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.team .entry .team-list LI SPAN {
	TEXT-ALIGN: center; LINE-HEIGHT: 15px; DISPLAY: block; FONT-SIZE: 13px
}
.team .entry .team-list LI SPAN.name {
	COLOR: #101b20; FONT-WEIGHT: bold
}
.team .entry .team-list LI SPAN.title {
	COLOR: #0b8819
}
.team BLOCKQUOTE {
	BORDER-BOTTOM-COLOR: #ccc; FONT-STYLE: italic; BORDER-TOP-COLOR: #ccc; MARGIN: 0px 10px 10px 0px; WIDTH: 285px; DISPLAY: inline; FONT-FAMILY: Verdana; FLOAT: left; BORDER-RIGHT-COLOR: #ccc; FONT-SIZE: 14px; BORDER-LEFT-COLOR: #ccc
}
.error-404 {
	MARGIN-TOP: 44px; BACKGROUND: url(images/error-bg.gif) no-repeat 0px 0px; HEIGHT: 606px
}
.error-404 .btn {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 15px; PADDING-LEFT: 10px; WIDTH: 222px; PADDING-RIGHT: 10px; DISPLAY: inline; BACKGROUND: url(images/error-page-btn.png) no-repeat 0px 0px; FLOAT: left; HEIGHT: 39px; COLOR: #000; FONT-SIZE: 13px; PADDING-TOP: 20px
}
.error-404 .btn A {
	COLOR: #2b9208; FONT-WEIGHT: bold
}
.error-404 .t {
	PADDING-LEFT: 59px
}
.error-404 .t .btn {
	MARGIN-RIGHT: 68px
}
.error-404 .b {
	MARGIN-TOP: 430px; PADDING-LEFT: 165px
}
.error-404 .b .btn {
	HEIGHT: 44px; MARGIN-RIGHT: 168px; PADDING-TOP: 15px
}
.service {
	
}
.service .section {
	PADDING-LEFT: 20px
}
.service .t-section P {
	LINE-HEIGHT: 15px; FONT-SIZE: 13px
}
.service H4 {
	TEXT-TRANSFORM: none; COLOR: #222; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.service H3 {
	TEXT-TRANSFORM: none; MARGIN-BOTTOM: 5px; COLOR: #222; FONT-SIZE: 20px; FONT-WEIGHT: bold
}
.service .main-image {
	BORDER-BOTTOM: #707070 2px solid; POSITION: relative; BORDER-LEFT: #707070 2px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 604px; PADDING-RIGHT: 5px; MARGIN-BOTTOM: 15px; BACKGROUND: #dadada; HEIGHT: 333px; BORDER-TOP: #707070 2px solid; BORDER-RIGHT: #707070 2px solid; PADDING-TOP: 5px
}
.service .main-image .badge {
	POSITION: absolute; WIDTH: 103px; DISPLAY: block; BACKGROUND: url(images/badge.png) no-repeat 0px 0px; HEIGHT: 103px; TOP: 0px; RIGHT: 0px
}
.service .m-section {
	BORDER-BOTTOM: #ccc 1px dotted; PADDING-BOTTOM: 20px
}
.service .m-section P {
	FONT-SIZE: 14px
}
.service .m-section UL LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 13px; PADDING-TOP: 0px
}
.service .m-section UL LI STRONG {
	COLOR: #222
}
.service .m-section UL LI A {
	COLOR: #5ab13e; TEXT-DECORATION: underline
}
.service .m-section UL LI A:hover {
	TEXT-DECORATION: none
}
.service .b-section {
	MARGIN-TOP: 15px
}
.service .b-section .customBullet {
	WIDTH: 290px; DISPLAY: inline; FLOAT: left
}
.service .b-section .customBullet LI {
	FONT-SIZE: 14px
}
.service .b-section .buttons {
	WIDTH: 222px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 60px
}
.service .b-section .buttons A {
	TEXT-ALIGN: center; LINE-HEIGHT: 39px; WIDTH: 222px; DISPLAY: block; MARGIN-BOTTOM: 5px; BACKGROUND: url(images/service-page-btn.gif) no-repeat 0px 0px; HEIGHT: 39px; COLOR: #4a5461; FONT-SIZE: 16px; FONT-WEIGHT: bold; TEXT-DECORATION: none; text-shadow: #fff 0 1px 1px
}
.service .b-section .buttons A:hover {
	BACKGROUND-POSITION: 0px bottom; COLOR: #fff; text-shadow: 1px 1px 1px #4a5461
}
.project-item {
	PADDING-BOTTOM: 60px; MARGIN-BOTTOM: 50px; BACKGROUND: url(images/wide-heading-bg.png) no-repeat 0px bottom
}
.project-item H3 {
	TEXT-TRANSFORM: none; COLOR: #0c5d18; FONT-WEIGHT: bold
}
.project-item H3 SPAN {
	COLOR: #444; FONT-WEIGHT: normal
}
.project-item .view-project {
	LINE-HEIGHT: 29px; PADDING-LEFT: 30px; WIDTH: 92px; DISPLAY: inline; BACKGROUND: url(images/view-project.png) no-repeat 0px 0px; FLOAT: right; HEIGHT: 29px; COLOR: #4a5461; FONT-WEIGHT: bold
}
.project-item .view-project:hover {
	BACKGROUND: url(images/view-project-hover.png) no-repeat 0px 0px; COLOR: #fff; TEXT-DECORATION: none
}
.project-item .image-holder {
	POSITION: relative; MARGIN: 10px -10px 0px; WIDTH: 660px; BACKGROUND: url(images/project-item-image-holder.png) no-repeat 0px 0px; HEIGHT: 416px
}
.project-item .image-holder .four-arrows {
	LEFT: 10px
}
.project-item .image-holder .arrows-holder {
	BOTTOM: 13px; RIGHT: 15px
}
.project-item .image-holder .screenshots {
	POSITION: relative; MARGIN: 11px 0px 0px 21px; WIDTH: 618px; DISPLAY: inline; FLOAT: left; HEIGHT: 385px; OVERFLOW: hidden
}
.project-item .image-holder .screenshots .inner-slider UL {
	LIST-STYLE: none none outside
}
.project-item .image-holder .screenshots .inner-slider UL LI {
	DISPLAY: inline; FLOAT: left
}
UL.gallery-projects {
	LIST-STYLE: none none outside
}
UL.gallery-projects LI {
	POSITION: relative; MIN-HEIGHT: 415px; WIDTH: 316px; DISPLAY: inline; MARGIN-BOTTOM: 50px; BACKGROUND: url(images/gallery-project-image-holder.png) no-repeat 0px 0px; FLOAT: left; MARGIN-RIGHT: 15px
}
UL.gallery-projects LI IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; MARGIN: 10px 0px 0px 18px; DISPLAY: block; BORDER-TOP: #ccc 1px solid; CURSOR: pointer; BORDER-RIGHT: #ccc 1px solid
}
UL.gallery-projects LI .text-holder {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; PADDING-TOP: 35px
}
UL.gallery-projects LI .text-holder H4 {
	TEXT-TRANSFORM: none; COLOR: #5f5f5f; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
UL.gallery-projects LI .text-holder P {
	MARGIN-BOTTOM: 10px
}
UL.gallery-projects LI .magnifier {
	Z-INDEX: 5; POSITION: absolute; WIDTH: 278px; DISPLAY: none; BACKGROUND: url(images/project-gallery-magnifier.png) no-repeat 0px 0px; HEIGHT: 215px; TOP: 11px; LEFT: 19px
}
#footer {
	HEIGHT: 250px
}
#footer-push {
	HEIGHT: 250px
}
.footer-cols {
	BACKGROUND: #101b20; HEIGHT: 210px
}
.footer-cols .shell {
	BACKGROUND: #101b20; HEIGHT: 210px
}
.footer-cols .shell {
	HEIGHT: 190px; PADDING-TOP: 20px
}
.footer-cols .col {
	BACKGROUND: url(images/footer-cols-separator.gif) no-repeat right 0px
}
.footer-cols .col H3 {
	TEXT-TRANSFORM: none; MARGIN-BOTTOM: 10px; COLOR: #fff; FONT-SIZE: 20px; FONT-WEIGHT: bold
}
.footer-cols .footer-col1 {
	WIDTH: 247px; MARGIN-RIGHT: 10px
}
.footer-cols .footer-col2 {
	WIDTH: 400px; MARGIN-RIGHT: 40px
}
.footer-cols .footer-col2 H3 {
	PADDING-LEFT: 40px; MARGIN-BOTTOM: 0px
}
.footer-cols .footer-col2 .findout-more {
	LINE-HEIGHT: 30px; PADDING-LEFT: 18px; WIDTH: 95px; DISPLAY: inline; BACKGROUND: url(images/find-out-more.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 32px; COLOR: #4a5461; FONT-WEIGHT: bold; MARGIN-RIGHT: 10px
}
.footer-cols .footer-col2 .findout-more:hover {
	BACKGROUND-POSITION: 0px bottom; COLOR: #fff; TEXT-DECORATION: none
}
.footer-cols .footer-col2 P {
	PADDING-LEFT: 40px; COLOR: #4a5461; FONT-WEIGHT: bold
}
.footer-cols .footer-col2 P SPAN {
	DISPLAY: inline; FLOAT: left; PADDING-TOP: 3px
}
.footer-cols .footer-col3 {
	WIDTH: 280px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.footer-cols .footer-col3 P {
	LINE-HEIGHT: 18px; MARGIN-BOTTOM: 9px; COLOR: #cbcbcb
}
.footer-cols .footer-col3 P STRONG {
	COLOR: #fff
}
.footer-cols .footer-col3 P A {
	COLOR: #7dc33a
}
.footer-cols .footer-col3 P SPAN {
	COLOR: #7dc33a
}
.footer-links {
	BACKGROUND: #000; HEIGHT: 40px
}
.footer-links .shell {
	BACKGROUND: #000; HEIGHT: 40px
}
.footer-links UL {
	LIST-STYLE: none none outside; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 9px
}
.footer-links UL LI {
	PADDING-RIGHT: 10px; DISPLAY: inline; FLOAT: left; HEIGHT: 20px; MARGIN-RIGHT: 10px; BORDER-RIGHT: #1a1a1a 1px solid
}
.footer-links UL LI.last {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.footer-links UL LI A {
	LINE-HEIGHT: 20px; DISPLAY: inline; FLOAT: left; HEIGHT: 20px
}
.footer-links {
	TEXT-TRANSFORM: uppercase; COLOR: #666; FONT-SIZE: 11px
}
.footer-links .right {
	LINE-HEIGHT: 20px; WHITE-SPACE: nowrap; HEIGHT: 20px; PADDING-TOP: 9px
}
.footer-links A {
	COLOR: #666
}
.footer-links A:hover {
	COLOR: #7dc33a
}
#tweets {
	
}
#tweets .tweet_list {
	LIST-STYLE: none none outside
}
#tweets .tweet_list LI {
	LINE-HEIGHT: 14px; MARGIN-BOTTOM: 6px
}
#tweets .tweet_list .tweet_text {
	COLOR: #fff
}
#tweets .tweet_list .tweet_text A {
	COLOR: #7dc33a; TEXT-DECORATION: underline
}
#tweets .tweet_list .tweet_text A:hover {
	TEXT-DECORATION: none
}
#tweets .tweet_list .tweet_time {
	DISPLAY: block; PADDING-TOP: 5px
}
#tweets .tweet_list .tweet_time A {
	COLOR: #afafaf; FONT-SIZE: 10px
}
#screen {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 100%; DISPLAY: none; BACKGROUND: url(images/screen-bg.png) 0px 0px; HEIGHT: 100%; TOP: 0px; LEFT: 0px
}
.abs-holder {
	Z-INDEX: 110; POSITION: absolute; WIDTH: 100%; DISPLAY: block; HEIGHT: 100%; TOP: 0px; LEFT: 0px
}
.login {
	Z-INDEX: 120; POSITION: absolute; WIDTH: 329px; DISPLAY: none; BACKGROUND: url(images/login-box-bg.png) no-repeat 0px 0px; HEIGHT: 185px; TOP: 0px; LEFT: 0px
}
.login H4 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; COLOR: #fff; FONT-SIZE: 18px; FONT-WEIGHT: bold; PADDING-TOP: 7px
}
.login .form-holder {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 30px
}
.login .form-holder .row {
	MARGIN-BOTTOM: 10px
}
.login .form-holder .remember-me {
	DISPLAY: inline; FLOAT: left; PADDING-TOP: 7px
}
.login .form-holder .remember-me .checkbox {
	MARGIN: 4px 5px 0px 0px; WIDTH: 13px; DISPLAY: inline; FLOAT: left; HEIGHT: 13px
}
.login .form-holder .remember-me LABEL {
	DISPLAY: inline; FLOAT: left; COLOR: #505050; FONT-SIZE: 13px
}
.login .form-holder .login-btn {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; WIDTH: 78px; PADDING-RIGHT: 0px; DISPLAY: inline; BACKGROUND: url(images/login-btn.gif) no-repeat 0px 0px; FLOAT: right; HEIGHT: 35px; COLOR: #4a5461; BORDER-TOP: 0px; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.login .close-btn {
	POSITION: absolute; WIDTH: 18px; DISPLAY: block; BACKGROUND: url(images/close-btn.gif) no-repeat 0px 0px; HEIGHT: 17px; TOP: 10px; RIGHT: 15px
}
.logo-holder {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 329px; BACKGROUND: url(images/under-construction-logo-holder.gif) no-repeat 0px 0px; HEIGHT: 199px; TOP: 30px
}
.logo-holder H1#logo {
	MARGIN: 21px 0px 0px 50px
}
.logo-holder P {
	TEXT-ALIGN: center; LINE-HEIGHT: 16px; MARGIN: 15px 0px 5px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.socials-holder {
	MARGIN: 0px auto; WIDTH: 164px; BACKGROUND: url(images/socials-holder.gif) no-repeat 0px 0px; HEIGHT: 61px
}
H2.slogan {
	TEXT-ALIGN: center; LINE-HEIGHT: 100%; MARGIN-TOP: 50px; COLOR: #fff; FONT-SIZE: 60px; FONT-WEIGHT: bold; text-shadow: 1px 1px 1px #095f16
}
H3.try-again {
	TEXT-ALIGN: center; TEXT-TRANSFORM: none; COLOR: #059619; FONT-SIZE: 30px; FONT-WEIGHT: bold; text-shadow: #14581e 1px 1px 1px
}
.socials-holder .socials {
	MARGIN: 20px 0px 0px 45px
}
.sitemap_list {
	
}
.sitemap_list LI A {
	TEXT-TRANSFORM: uppercase; COLOR: #1e8d17 !important; FONT-WEIGHT: bold
}
.sitemap_list LI UL LI {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.sitemap_list LI UL LI A {
	TEXT-TRANSFORM: none; COLOR: #505150 !important; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.sitemap_list LI UL LI A:hover {
	TEXT-DECORATION: none
}
